<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Credits</h1>
		<div class="button button-clear" ng-click="credits_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
        
        
           
        <div ng-controller="FormCtrl">
            
             <button ng-click="getRequest()">Test Rest</button>
            <button ng-click="postRequest()">Post Request</button>
            
            
  <form novalidate class="css-form">
    <label>Name: <input type="text" ng-model="user.title" required /></label><br />
          <label>Name: <input type="text" ng-model="user.content" required /></label><br />


    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Save" />
  </form>
            
            
  <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre>
  
</div>     
        
        
        
        
        
        <!--
        <div ng-controller="FormCtrl">
            
             <button ng-click="getRequest()">Test Rest</button>
            <button ng-click="postRequest()">Post Request</button>

  <form novalidate class="css-form">
    <label>Name: <input type="text" ng-model="user.name" required /></label><br />
    <label>E-mail: <input type="email" ng-model="user.email" required /></label><br />
    Gender: <label><input type="radio" ng-model="user.gender" value="male" />male</label>
    <label><input type="radio" ng-model="user.gender" value="female" />female</label><br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Save" />
  </form>
  <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre>
</div>

<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>

 <form>
        <ion-list>
          <label class="item item-input">
            <input type="text" placeholder="First Name">
          </label>
          <label class="item item-input">
            <textarea placeholder="Comments"></textarea>
          </label>
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="John">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name">
          </label>
          <li class="item item-toggle">
          HTML5
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Flux Capacitor
          </li>
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Go
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
          </div>
          <label class="item item-input item-select">
            <div class="input-label">
              Lightsaber
            </div>
            <select>
              <option>Blue</option>
              <option selected>Green</option>
              <option>Red</option>
            </select>
          </label>
          <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
          <ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'">Choose C</ion-radio>
          <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Airplane Mode</ion-toggle>
        </ion-list>
        <ion-list type="list-inset">
          <label class="item item-input">
            <input type="text" placeholder="First Name">
          </label>
          <label class="item item-input">
            <textarea placeholder="Comments"></textarea>
          </label>
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="John">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name">
          </label>
          <li class="item item-toggle">
          HTML5
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
          </li>
          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            Flux Capacitor
          </li>
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
              Go
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
          <div class="range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
          </div>
          <label class="item item-input item-select">
            <div class="input-label">
              Lightsaber
            </div>
            <select>
              <option>Blue</option>
              <option selected>Green</option>
              <option>Red</option>
            </select>
          </label>
          <ion-checkbox ng-model="isChecked">Checkbox Label</ion-checkbox>
          <ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'">Choose C</ion-radio>
          <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Airplane Mode</ion-toggle>
        </ion-list>
      </form>-->
	</ion-content>
</ion-modal-view>
