<ion-view class="home-view">
  <ion-nav-title>
    <span>Safe House</span>
  </ion-nav-title>
  <ion-content>

    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
      <div style="background: yellow; margin-left: auto;
    margin-right: auto;">
<img class="user-image" ng-src="{{user.avatar}}" style="     display: block;
    margin-left: auto;
    margin-right: auto;border-radius: 50%; padding-top: 2em; padding: 1em;padding-bottom: 2em;    width: 130px;
 " >
          <h3 style="    font-size: 18px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 2em;">Agent Adam</h3>
      </div>
      
    <div class="posts">
      <div post-card ng-repeat="post in posts" class="post-card"></div>
                    
    </div>

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
          <a href="" ng-click="showCredits()">     <fab-button-right target-id="content" css-class="app-fab-btn">
         <i class="icon ion ion-plus-round"></i>
      </fab-button-right></a>